.box {
    height: 85px;
    width: 85px;
    font-size: 3.2em;
}

.ai-thinking-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    opacity: 1;
    background: rgba(39, 42, 43, 0.8);
    margin-left: -15px;
    height: 255px;
    width: 255px;
}